<template>
  <div class="detail-recette">
    <div @click="close" class="close">
      <span class="material-icons">close</span>
    </div>
    <div class="detail-content">
      <div class="top">
        <div class="description">
          <h2>{{ recipe.titre }}</h2>
          <p>
            <b>
              Description :
              <br />
            </b>
            {{ recipe.description }}
          </p>
        </div>
        <img :src="recipe.image" alt />
      </div>
      <div class="ingredients">
        <Ingredient
          v-for="v in recipe.ingerdients"
          :key="v"
          :ingredient="v.ingredient"
          :quantite="v.quantite"
        />
      </div>
      <div class="step">
        <div v-for="(step, index) in recipe.steps" :key="index" class="etap">
          <h3>Etape {{ index + 1 }}</h3>
          <p>{{ step }}</p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ['recipe'],
  methods: {
    close() {
      this.$emit('close')
    }
  }
};
</script>
<style scoped lang="scss">
.detail-recette {
  position: fixed;
  top: 60px;
  width: 90%;
  height: 80vh;
  overflow-y: scroll;
  
  &::-webkit-scrollbar {
  display: none;
  }
  &{
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  }

  scroll-behavior: smooth;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 5px gray;
  .close {
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 10px;
    span {
      font-size: 40px;
      font-weight: bolder;
    }
  }

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 15px;
    margin-top: 60px;
    .description {
      width: 50%;
      h2{
        margin: 30px 0;
      }
      p {
        overflow-wrap: break-word;
      }
    }
    img {
      width: 40%;
      min-width: 200px;
      border-radius: 20px;
    }
  }
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 20px auto;
  }
  .ingredients {
    width: 90%;
    margin: 30px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .step {
    width: 90%;
    margin: 0 auto;
    h3 {
      margin: 10px 0;
    }
  }
}
</style>