<template>
    <div class="ingredient-parent">
        <span class="ingredient">{{ingredient}} </span> <span class="quantite"> {{quantite}} <b>g</b></span>
    </div>
</template>
<script>
export default {
    props:['ingredient', 'quantite']
}
</script>
<style scoped lang="scss">
    .ingredient-parent{
          background-color: rgb(219, 219, 219);
          padding: 10px 20px;
          border-radius: 20px;
          .ingredient{
              font-size: 20px;
              font-weight: bolder;
          }
          .quantite{
              margin-left: 20px;
          }
      }
</style>