<template>
    <div class="new-ingredient">
        <label for="">
            ingredient : 
        <!-- <select @change="pushValue" v-model="shoose.ingredient">
            <option default value="">Choisissez un ingredient</option>
            <option v-for="ingredient in ingredients" :key="ingredient" :value="ingredient">{{ingredient}}</option>    
        </select>     -->
        <input type="text" @change="pushValue" v-model="shoose.ingredient">
        
        </label>
        <label class="quantite" for=""> quantite <input type="number" @change="pushValue" min="0" v-model="shoose.quantite"> g </label>
        <div @click="remove" class="remove">
            <span class="material-icons">delete_forever</span>
        </div>
    </div>
</template>
<script>
export default {
    props:['index'],
    data() {
        return {
            ingredients:[
                'Tomates',
                'Onions',
                'Poisson',
                'poulet',
                'Riz',
                'Carrots',
                'Porc'
            ],
            shoose:{
                index:this.index,
                ingredient:'',
                quantite:0
            }
        }
    },
    methods: {
        remove(){
            this.$emit('remove')
        },
        pushValue(){
            if (this.shoose.quantite<0) {
                this.shoose.quantite=0
            }
           this.$emit('updateValue', this.shoose)
        }

    },
}
</script>
<style scoped lang="scss">
    .new-ingredient{
        background-color: #e0e0e0;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
         padding: 15px 20px;
         border-radius: 30px;
        margin: 10px 0;
        select, option{
            font-size: 15px;
        }
        input{
                border: none;
      padding: 10px 20px;
      margin: 5px;
      font-size: 15px;
      border-radius: 20px;
            }
        .quantite{
            margin-left: 60px;
        }
    }
    .remove{
        margin-left: 20px;
        font-size: 30px;
        cursor: pointer;
    }
</style>