<template>
    <div class="new-step">
        <div class="step-conent">
            <h2>Etape {{index+1}} : </h2>
            <textarea @change="pushValue" v-model="task" cols="60" rows="2"></textarea>
        </div>
        <div @click="remove" class="remove">
            <span class="material-icons">delete_forever</span>
        </div>
    </div>
</template>
<script>
export default {
    props:['index', 'step'],
    data() {
        return {
            task: this.step
        }
    },
    methods: {
        remove(){
            this.$emit('remove')
        },
        pushValue(){
            console.log(this.task);
        this.$emit('updateValue', {
            task: this.task, 
            index: this.index
        })
        }

    },
}
</script>
<style scoped lang="scss">
    .new-step{
        background-color: #e0e0e0;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
         padding: 15px 20px;
         border-radius: 30px;
        margin: 10px 0;
        textarea{
            border: none;
      padding: 10px 20px;
      margin: 5px;
      font-size: 15px;
      border-radius: 20px;
        }
        .step-conent{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        h2{
            font-size: 20px;
        }
        select, option{
            font-size: 15px;
        }
        .quantite{
            margin-left: 60px;
            input{
                border: none;
      padding: 10px 20px;
      margin: 5px;
      font-size: 15px;
      border-radius: 20px;
            }
        }
    }
    .remove{
        margin-left: 20px;
        font-size: 30px;
        cursor: pointer;
    }
</style>