<template>
    <div class="Recipe" :style="style">
       <div class="opa">
            <h2>{{recipe.titre}} </h2>
            <button @click="show" >Voir <span class="material-icons">remove_red_eye</span> </button>
       </div>
    </div>
</template>
<script>
export default {
props:['recipe'],
methods:{
    show(){
        this.$emit('voirDetail')
    }
},
computed: {
    style() {
        return {
            backgroundImage: (this.recipe.image == null || this.recipe.image == '')?'url(https://media.istockphoto.com/vectors/chef-hat-logo-flat-icon-vector-id953469236?b=1&k=20&m=953469236&s=612x612&w=0&h=DEp1Dv38DfTOmKE86N9PGPnNz_DYnedREzbD6OOcTLg=)':`url(${this.recipe.image})`,
            backgroundPosition: "center center",
            backgroundSize: "cover",
            backgroundRepeat: "no-repeat"
        }
    }
}
    
}
</script>
<style lang="scss" scoped>
.Recipe{
    min-height: 400px;
    position: relative;
    min-width: 300px;
    width: 30%;
    border-radius: 30px;
    color: #fafafa;
    overflow: hidden;
    margin: 20px;
}
.opa{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    min-height: 400px;
    background-repeat: no-repeat;
   background-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.49650349650349646) 90%, rgba(0,0,0,1) 100%);
    transition: all .5s ease;
    &:hover{
        background-repeat: no-repeat;
        transition: all .5s ease;
        background-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.49650349650349646) 60%, rgba(0,0,0,1) 100%);
    }
    h2{
        margin: 20px 0;
    }
    button{
        padding: 10px 20px;
        border-radius: 30px;
        border: none;
        background-color: #0cbbe7;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
        font-weight: bolder;
        margin: 10px 0;
        cursor: pointer;
        transition: .5s all ease;
        span{
            margin-left: 10px;
        }
        &:hover{
            background-color: #6dcfe7;
        }
    }
}
</style>