<template>
  <div class="index">
    <h1>Recherche les meilleurs recettes</h1>
    <div class="search">
      <label for="serche"><span class="material-icons"> search </span></label>
      <input id="serche" type="text" placeholder="" />
    </div>

    <div class="list-recipe">
      <Recipe
        v-for="recipe in recettes"
        :key="recipe"
        :recipe="recipe"
        @voirDetail="showDetailMethods(recipe)"
      />
    </div>
    <div class="form">
      <h2>Créez une recette</h2>
      <label for="">
        Titre :
        <input v-model="newRecipe.titre" placeholder="Sushi" type="text"
      /></label>
      <label for="">
        Image :
        <input v-model="newRecipe.image" placeholder="https://..." type="text"
      /></label>
      <label for="">
        <textarea
          v-model="newRecipe.description"
          cols="30"
          rows="10"
          placeholder="description ..."
        ></textarea>
      </label>
      <NewStep
        v-for="(step, index) in newSteps"
        :key="step"
        :index="index"
        :step="step"
        @updateValue="updateStep"
        @remove="removeStep(index)"
      />
      <button @click="addStep" class="add">
        Ajouter une étape <span class="material-icons">add</span>
      </button>
      <NewIngredient
        v-for="(ingredient, index) in newIngredients"
        :key="ingredient"
        :index="index"
        @updateValue="updateNewIngredient"
        @remove="removeNewIngredient(index)"
      />
      <button @click="addNewIngredient" class="add">
        Ajouter un ingredient <span class="material-icons">add</span>
      </button>
      <button @click="ajouterRecette">Valider</button>
    </div>
    <Detail @close="close" :recipe="recipeDetail" v-if="showDetail" />
  </div>
</template>

<script >
export default {
  data() {
    return {
      recipeDetail: {
        titre: "",
        description: "",
        ingerdients: [],
        steps: [],
      },
      showDetail: false,
      recipes: [],
      newRecipe: {
        titre: "",
        description: "",
        image: "",
        ingerdients: [],
        steps: [],
      },
    };
  },
  methods: {
    // steps
    updateStep(e) {
      this.newRecipe.steps[e.index] = e.task;
      console.log(this.newRecipe.steps);
      // console.log(this.newRecipe.ingerdients[ctx.index]);
    },
    removeStep(index) {
      this.newRecipe.steps.splice(index, 1);
    },
    addStep() {
      // let temp_steps = {
      //   task:''
      // }
      this.newRecipe.steps.push("");
    },

    //ingredient
    updateNewIngredient(ctx) {
      this.newRecipe.ingerdients[ctx.index].ingredient = ctx.ingredient;
      this.newRecipe.ingerdients[ctx.index].quantite = ctx.quantite;
      // console.log(this.newRecipe.ingerdients[ctx.index]);
    },
    removeNewIngredient(index) {
      this.newRecipe.ingerdients.splice(index, 1);
    },
    addNewIngredient() {
      let temp_ingredient = {
        ingredient: "",
        quantite: 0,
      };
      this.newRecipe.ingerdients.push(temp_ingredient);
    },
    // detaille

    close() {
      this.showDetail = false;
    },
    showDetailMethods(recipe) {
      this.recipeDetail = recipe;
      this.showDetail = true;
    },
    ajouterRecette() {
      // this.recipes.push(this.newRecipe);

      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/x-www-form-urlencoded");

      var urlencoded = new URLSearchParams();
      urlencoded.append("recette", JSON.stringify(this.newRecipe));

      var requestOptions = {
        method: "POST",
        headers: myHeaders,
        body: urlencoded,
        redirect: "follow",
      };

      fetch("http://localhost:8080/api", requestOptions)
        .then((response) => response.json())
        .then((result) => {
          if(result.success)
          {
            location.reload();
          }
        })
        .catch((error) => console.log("error", error));
    },
  },
  computed: {
    newIngredients() {
      return this.newRecipe.ingerdients;
    },
    newSteps() {
      return this.newRecipe.steps;
    },
    recettes() {
      return this.recipes;
    },
  },
  mounted() {
    var requestOptions = {
      method: "GET",
      redirect: "follow",
    };

    fetch("http://localhost:8080/api", requestOptions)
      .then((response) => response.json())
      .then((result) => {
        this.recipes=result
      })
      .catch((error) => console.log("error", error));
  },
};
</script>

<style lang="scss" scoped>
.index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    margin: 50px 0;
  }
  .list-recipe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
}
.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  border-radius: 20px;
  min-width: 300px;
  width: 50%;
  padding: 5px;
  color: rgb(151, 150, 150);
  label {
    cursor: text;
  }

  .material-icons {
    font-size: clamp(2rem, 10vw, 3rem);
    margin: 3px 7px;
    padding-right: 20px;
    // border-right: 1px solid rgb(187, 187, 187) ;
  }
  input {
    cursor: text;
    margin: 3px 5px;
    width: 90%;
    border: none;
    background-color: #fafafa00;
    font-size: clamp(1.5rem, 10vw, 2.5rem);
    &:focus-visible {
      border: none;
      border-bottom: rgb(187, 187, 187) solid 2px;
      outline: none;
    }
  }
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;
  padding: 15px 30px;
  border-radius: 30px;
  margin: 40px 0;
  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  label {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  input[type="text"] {
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 15px;
    border-radius: 20px;
  }
  textarea {
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 15px;
    border-radius: 20px;
  }
}
button {
  background-color: #0cbbe7;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  transition: all 0.5s ease;
  margin: 10px auto;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: #4ebeda;
  }
}
.add {
  background-color: #dddddd;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  transition: all 0.5s ease;
  margin: 10px auto;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: #dadada;
  }
  span {
    margin-left: 20px;
  }
}
</style>