<template>
  <div>
    <NuxtPage />
  </div>
</template>
<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body{
  background-color: #EFEFEF;
}
</style>